<!-- 
 Only used for testing 
 -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Panel</title>
</head>
<body>

    <h1>Test Panel: {{ user.displayName }}</h1>
    <hr>

    <h2>1. Groups Management</h2>

    <h3>Create Group</h3>
    <form action="/group/create/" method="POST">
        {% csrf_token %}
        <label>Title: <input type="text" name="title" value="{{ form.title.value|default:'' }}" required></label>
            <br><br>
        <label>Description: <textarea name="description">{{ form.description.value|default:'' }}</textarea></label>
            <br><br>
        <label>Open Grade Book: <input type="checkbox" name="openGradeBook" value="true"></label>
            <br><br>
        {% if form.teachers.errors %}
            <div class="error-message" style="color: red; font-size: 0.9em;">
                {% for error in form.teachers.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <label>Teachers (Emails, comma-separated): <input type="text" name="teachers"></label>
            <br><br>

        {% if form.students.errors %}
            <div class="error-message" style="color: red; font-size: 0.9em;">
                {% for error in form.students.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <label>Students (Emails, comma-separated): <input type="text" name="students"></label>
            <br><br>
        <button type="submit">Submit</button>
    </form>

    <h3>Edit Group</h3>

    <label>Group to Edit: 
        <select id="groupSelector" onchange="autofillGroupForm(this.value)">
            <option value="" disabled selected>Select a Group</option>
            {% for group in allowedGroups %}
                <option value="{{ group.id }}">{{ group.title }} (ID: {{ group.id }})</option>
            {% empty %}
                <option value="" disabled>You don't manage any groups yet.</option>
            {% endfor %}
        </select>
    </label>

        <br><br>

    <form id="editGroupForm" action="/group/1/edit/" method="POST">
        {% csrf_token %}
        <label>Title: <input type="text" id="groupEdit_title" name="title" required></label>
            <br><br>
        <label>Description: <textarea id="groupEdit_description" name="description"></textarea></label>
            <br><br>
        <label>Open Grade Book: <input type="checkbox" id="groupEdit_openGradeBook" name="openGradeBook" value="true"></label>
            <br><br>
        <label>Teachers: <input type="text" id="groupEdit_teachers" name="teachers"></label>
            <br><br>
        <label>Students: <input type="text" id="groupEdit_students" name="students"></label>
            <br><br>
        <button type="submit">Update Group</button>
    </form>

    {{ groupsJson|json_script:"groups-data" }}

    <script src="{% static 'pages/js/groupAutofill.js' %}" defer></script>

    <h3>Delete Group</h3>
    <form id="deleteGroupForm" action="/group/1/delete/" method="POST">
        {% csrf_token %}
        <label>Group to Delete: 
            <select id="groupSelector" onchange="document.getElementById('deleteGroupForm').action = '/group/' + this.value + '/delete/';">
                <option value="" disabled selected>Select a Group</option>
                {% for group in allowedGroups %}
                    <option value="{{ group.id }}">{{ group.title }} (ID: {{ group.id }})</option>
                {% empty %}
                    <option value="" disabled>You don't manage any groups yet.</option>
                {% endfor %}
            </select>
        </label>
            <br><br>
        <button type="submit" onclick="return confirm('Are you sure you would like to delete the group?');">Delete Group</button>
    </form>

    <hr>

    <h2>2. Assignment Groups Management</h2>

    <h3>Create Assignment Group</h3>
    <form id="createAssignGroupForm" action="/group/1/assignment-group/create/" method="POST">
        {% csrf_token %}
        <label>Belongs to Group: 
            <select id="groupSelector" onchange="document.getElementById('createAssignGroupForm').action = '/group/' + this.value + '/assignment-group/create/';">
                <option value="" disabled selected>Select a Group</option>
                {% for group in allowedGroups %}
                    <option value="{{ group.id }}">{{ group.title }} (ID: {{ group.id }})</option>
                {% empty %}
                    <option value="" disabled>You don't manage any groups yet.</option>
                {% endfor %}
            </select>
        </label>
            <br><br>
        <label>Title: <input type="text" name="title" required></label>
            <br><br>
        <label>Subtitle: <input type="text" name="subtitle"></label>
            <br><br>
        <button type="submit">Create Assignment Group</button>
    </form>

    <h3>Delete Assignment Group</h3>
    <form id="deleteAssignGroupForm" action="/assignment-group/1/delete/" method="POST">
        {% csrf_token %}
        <label>Assignment Group to Delete: 
            <select id="groupSelector" onchange="document.getElementById('deleteAssignGroupForm').action = '/assignment-group/' + this.value + '/delete/';">
                <option value="" disabled selected>Select an Assignment Group</option>
                {% for group in allowedGroups %}
                    {% for assignmentG in group.assignmentGroups.all %}
                        <option value="{{ assignmentG.id }}">{{ group.title }} | {{ assignmentG.title }} (ID: {{ assignmentG.id }})</option>
                    {% empty %}
                        <option value="" disabled>You don't manage any assignment groups yet.</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </label>
            <br><br>
        <button type="submit">Delete Assignment Group</button>
    </form>

    <hr>

    <h2>3. Assignments</h2>

    <h3>Create Assignment</h3>
    <form id="createAssignmentForm" action="/assignment-group/1/assignment/create/" method="POST">
        {% csrf_token %}
        <label>Belongs to Assignment Group: 
            <select id="groupSelector" onchange="document.getElementById('createAssignmentForm').action = '/assignment-group/' + this.value + '/assignment/create/';">
                <option value="" disabled selected>Select an Assignment Group</option>
                {% for group in allowedGroups %}
                    {% for assignmentG in group.assignmentGroups.all %}
                        <option value="{{ assignmentG.id }}">{{ group.title }} | {{ assignmentG.title }} (ID: {{ assignmentG.id }})</option>
                    {% empty %}
                        <option value="" disabled>You don't manage any assignment groups yet.</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </label>
            <br><br>
        <label>Title: <input type="text" name="title" required></label>
            <br><br>
        <label>Description: <textarea name="description"></textarea></label>
            <br><br>
        <label>Is Hidden: <input type="checkbox" name="isHidden" value="true"></label>
            <br><br>
        <label>Assignment Type: </label>
        <select name="assignmentType">
            <option value="submittable">Submittable</option>
            <option value="unsubmittable">Unsubmittable</option>
        </select>
            <br><br>
        <button type="submit">Create Assignment</button>
    </form>

    <hr>

    <h2>4. Submissions & Grading</h2>

    <h3>Student: Create Submission</h3>
    <form id="submitForm" action="/assignment/1/submit/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Belongs to Assignment: 
            <select id="groupSelector" onchange="document.getElementById('submitForm').action = '/assignment/' + this.value + '/submit/';">
                <option value="" disabled selected>Select an Assignment</option>
                {% for group in allowedGroups %}
                    {% for assignmentG in group.assignmentGroups.all %}
                        {% for assign in assignmentG.assignments.all %}
                            <option value="{{ assign.id }}">{{ group.title }} | {{ assignmentG.title }} | {{ assign.title }} (ID: {{ assign.id }})</option>
                        {% empty %}
                            <option value="" disabled>You don't have access to any assignments yet.</option>
                            {% endfor %}
                    {% endfor %}
                {% endfor %}
            </select>
        </label>
            <br><br>
        <label>Submitted Text Content: <textarea name="submittedText"></textarea></label>
            <br><br>
        <label>Upload File (Max 1MB): <input type="file" name="uploadedFile"></label>
            <br><br>
        <button type="submit">Submit Assignment</button>
    </form>

    <h3>Teacher: Grade Submission</h3>
    <form id="gradeForm" action="/submission/1/grade/" method="POST">
        {% csrf_token %}
        <label>Submission to Grade: 
            <select id="groupSelector" onchange="document.getElementById('submitForm').action = '/submission/' + this.value + '/grade/';">
                <option value="" disabled selected>Select a Submission</option>
                {% for group in allowedGroups %}
                    {% for assignmentG in group.assignmentGroups.all %}
                        {% for assign in assignmentG.assignments.all %}
                            {% for submit in assign.submissions.all %}
                                <option value="{{ submit.id }}">{{ group.title }} | {{ assignmentG.title }} | {{ assign.title }} | {{ submit.student.displayName }} | {{ submit.title }} (ID: {{ submit.id }})</option>
                            {% empty %}
                                <option value="" disabled>You don't have access to any submissions yet.</option>
                                {% endfor %}
                            {% endfor %}
                    {% endfor %}
                {% endfor %}
            </select>
        </label>
            <br><br>
        <label>Grade (Integer/Float score): <input type="number" step="0.1" name="grade" required></label>
            <br><br>
        <label>Teacher Feedback: <textarea name="teacherFeedback"></textarea></label>
            <br><br>
        <button type="submit">Submit Grade</button>
    </form>

</body>
</html>